<div class="auth-container">
  <mat-card class="auth-card">
    <h2>Bejelentkezés</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" formControlName="jelszo" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="form.invalid">
        Bejelentkezés
      </button>
    </form>
  </mat-card>
</div>
