<mat-toolbar color="primary">
  <span style="font-weight: bold;">📱 Mobil Csomag Vásárlás</span>
  <span class="spacer"></span>

  <button mat-button routerLink="/csomagok">Csomagok</button>
  <button mat-button *ngIf="auth.isLoggedIn()" routerLink="/rendeles">Rendelés</button>
  <button mat-button *ngIf="!auth.isLoggedIn()" routerLink="/bejelentkezes">Bejelentkezés</button>
  <button mat-button *ngIf="!auth.isLoggedIn()" routerLink="/regisztracio">Regisztráció</button>

  <mat-icon *ngIf="auth.isLoggedIn()" [matMenuTriggerFor]="menu">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/profil">Profil</button>
  <button mat-menu-item (click)="logout()">Kijelentkezés</button>
</mat-menu>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    {{ auth.getCurrentUserEmail() }}
  </button>
  <button mat-menu-item (click)="auth.logout()">
    <mat-icon>logout</mat-icon>
    Kilépés
  </button>
</mat-menu>
