<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Név</mat-label>
      <input matInput formControlName="nev" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Cím</mat-label>
      <input matInput formControlName="cim">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Válassz mobilcsomagot</mat-label>
      <mat-select formControlName="csomagId">
        <mat-option *ngFor="let c of csomagok" [value]="c.id">{{ c.nev }} – {{ c.havidij | currency:'HUF' }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-checkbox formControlName="feltetelek">Elfogadom a feltételeket</mat-checkbox>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Megrendelem</button>
  </form>
  